body {
    font-family: Arial, sans-serif;
    background: #5e5555;
    padding: 20px;
    height: 100%;
    max-width: 1000px;
    overflow-x: hidden;
}

.Main {
    max-width: 800px;
    margin: auto;
}

.first {
    text-align: center;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    width: 70%;
    border-radius: 7px;
    border: 2px solid #5e5555;
}

.btn {
    font-size: 16px;
    height: 20%;
    width: 10%;
    padding: 10px;
    margin-left: 5px;
    border-radius: 50px;
    border: 1px solid grey;
}

.btn:hover {
    background-color: rgb(39, 106, 39);
    color: white;
}

.second {
    background: rgb(157, 150, 150);
    padding: 20px 10px 8px 55px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;

}

.news-articles {
    background-color: white;
    height: 18rem;
    width: 10rem;
    border-bottom: 1px solid #ddd;
    /* padding-left: 2rem; */
    border: 1px solid rgb(0, 0, 0);
    margin: 1rem 1rem 0.5rem 1.5rem;
    /* display: flex;
            flex-wrap: wrap; */
    font-size: 8px;
    border-radius: 5px;
}

.news-articles:last-child {
    border-bottom: none;
}

h3 {
    margin: 5px 0;
}

a {
    color: #007bff;
    text-decoration: none;
}

img {
    max-width: 100%;
    max-height: 45%;
    border-radius: 5px 5px 0 0;
}

h3 {
    padding: 0.5rem;
}

p {
    padding: 0.5rem;
}

a {
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
}

@media(max-width: 767px) {
    .news-articles {
        background-color: white;
        height: 18rem;
        width: 10rem;
        border-bottom: 1px solid #ddd;
        /* padding-left: 2rem; */
        border: 1px solid rgb(0, 0, 0);
        margin: 1rem 0.2rem 0.5rem 0;
        /* display: flex;
            flex-wrap: wrap; */
        font-size: 8px;
        border-radius: 5px;
    }

    .btn {
        font-size: 15px;
        height: 40%;
        width: 23%;
        padding: 8px;
        margin-left: 5px;
        border-radius: 50px;
        border: 1px solid grey;
    }

    .btn:hover {
        background-color: rgb(39, 106, 39);
        color: white;
    }
}